.container{
    display: grid;
    grid-template-columns:repeat(8, auto);
    grid-template-rows: repeat(8, 50px);
}

header{
    background-color: lightcoral;

    grid-row: 1/2;
    grid-column: 1/8;
}

main{
    background-color: lightcyan;

    grid-row: 1/4;
    grid-column: ;
}

aside{
    background-color: lightslategray;
}

footer{
    background-color: lightgreen;
}
