.container{
    width: 98%;
    height: 300px;
}

header{
    background-color: aqua;
    height: 20%;
    
}

main{
    background-color: rgb(20, 110, 54);
}

aside{
    background-color: rgb(255, 127, 227);
    height: 50%;
}

footer{
    background-color: rgb(183, 0, 255);
    height: 10%;
}